@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

@keyframes slideLeft {
  0%{
      transform: translateX(100%);
  }
  100%{
      transform: translateX(0);
  }
}
@keyframes slideRight {
  0%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(0);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: white;
  margin: 0 auto;
}

.headers {
  position: relative;
  width: 100%;
  height: 206px;
  background-color: #ffffff;
}

.headers .navbar {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 165px;
  left: 367px;
}
header {
  transition: background-color 0.4s ease-in-out;
  position: fixed;
  width: 703px;
  top: 0px;
  z-index: 10;
  color: var(--neutral-black, #181616);
  display: flex;
  text-align: center;
  line-height: 18px; /* 100% */
  background-color: white;
}
header.scrolled{
  background-color: #333;
  color: white;
  transition: background-color 0.1s ease-in-out;
}
header.scrolled nav a{
  transition: background-color 0.4s ease-in-out;
  background-color: #333;
  color: white;
}
header.scrolled nav a:hover{
  background-color: white;
  color: #333;
}

header li {
  float: left;
}

header a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header a:hover {
  background-color: #ddd;
  color: black;
}

.headers .menu {
  position: absolute;
  width: 377px;
  height: 100px;
  top: 25px;
  right: 0;
  background-color: rgba(246, 225, 195, 1);
  border-radius: 50px 0px 0px 50px;
  box-shadow: 0px 4px 4px #00000040;
}

.headers .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 90%;
  margin-left: 35px;
  position: relative;
  top: -10px;
}

.headers .wishlist,
.headers .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 109px;
  padding: 4px;
  position: relative;
  cursor: pointer;
}

#account
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 109px;
  padding: 4px;
  position: relative;
  cursor: pointer;
}

.headers .img {
  width: 24px;
  height: 24px;
  margin: 24px 24px 16px 24px;
}
.headers .text-wrapper {
  width: fit-content;
  margin-left: -8px;
  margin-right: -8px;
  font-weight: 400;
  color:  rgba(168, 68, 72, 1);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}


#search_bar{
  position:absolute;
  top: 64px;
  left: 510px;
  display: flex;
  padding: 0px 24px;
  width: 419px;
  height: 46px;
  align-items: flex-start;
  gap: 240px;
  border-radius: 50px;
  border: 1px solid #000;
  background: var(#FFF);
  z-index: 1;
}

#search_text{
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  position: absolute;
  left: 0px;
  width: 415px;
  height: 44px;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
  background: var(#FFF);
}
.search_img{
  position: absolute;
  top: 14px;
  right: 24px;
align-items: center;
flex-shrink: 0;
}

.headers .logo-image {
  position: absolute;
  width: 80px;
  height: 66px;
  top: 35px;
  left: 126px;
  object-fit: cover;
}

.headers .logo-name {
  position: absolute;
  width: 196px;
  height: 48px;
  top: 104px;
  left: 68px;
  object-fit: cover;
}

.sign-up{
  display: none;
  padding: 10px;
  background-color: #F6E1C3;
  position: absolute;
  top:11.5em;
  left: 1020px;
  z-index: 100;
  width: 400px;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
}
.sign-in-1{
  font-weight: bolder;
  font-size: 19px;
}
.sign-in-2,.sign-in-3,.sign-in-4,.sign-in-5{
  margin: 10px;
}


.sign-in-7,.sign-in-8{
  color: #7F7F7F;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; 
  letter-spacing: -0.42px;
  margin-bottom: 10px;
}
.sign-in{
  display: none;
  padding: 10px;
  background-color: #F6E1C3;
  position: absolute;
  top:11.5em;
  left: 1020px;
  z-index: 100;
  width: 400px;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
}
.sign-up-1{
  font-weight: bolder;
  font-size: 19px;
}
.sign-up-2{
  color: #7F7F7F;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 125% */
  letter-spacing: -0.42px;
  margin-bottom: 10px;
}
.span-sign-in{
  color: #794612;
}

.span-sign-up{
  color: #794612;
}
input{
  width: 20em;
  border: none;
  height: 2em;
}
.sign-up-3,.sign-up-4{
  padding: 5px;
}
#top-image_button1{
  justify-content: center;
  width: 194px;
  height: 66px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background:#F6E1C3;
  color: #A84448;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  top:470px;
  left: 110px;
  cursor: pointer;
}
#top-image_button2{
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 36.55px;
  border: 1.5px solid rgba(246, 225, 195, 1);
  box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
  width: 236px;
  height: 66px;
  justify-content: center;
  color:#F6E1C3 ;
  position: absolute;
  top: 470px;
  left: 328px;
  cursor: pointer;
}
#top-image_button1:hover{
  background-color: rgb(168, 100, 68);
  color: #F6E1C3;
}
#top-image_button2:hover{
  background-color: #F6E1C3 ;
  color: #A84448;
}

.sign-up-5,.sign-up-7,.sign-up-8{
  color: #7F7F7F;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; 
  letter-spacing: -0.42px;
  margin-bottom: 10px;
}


.product_menu{
  width: 1400px;
  height: 500px;
  flex-shrink: 0;
  flex-shrink: 0;
  position: fixed;
  top:46px;
  display: grid;
  grid-template-columns:repeat(5,1fr);
  grid-row-gap: 10px;
  text-align: center;
  z-index: 100;
  border-radius: 0px 0px 20px 20px;
  background: var(--neutral-white, #FFF);
  margin-left: 20px;

}

.collection_menu{
  
  position: fixed;
  top:46px;
  left: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 100;
  width: 290px;
  height: 300px;
  color: black;
  border-radius: 0px 0px 20px 20px;
  background: var(--neutral-white, #FFF);
}
.product-img{
  margin-top: 80px;
  text-align: center;
  transform: translateY(-10%);
}
.product{
  margin: 30px;
}

.top-notifications {
  width: 100%;
  height: 74px;
  background-color: #3d3733;
}

.top-notifications .bar-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  top: 22px;
  left: 350px;
}

.top-notifications .bar-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.top-notifications .link {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.top-notifications .master-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.top-notifications .link-text {
  position: relative;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
  font-style: normal;
}

.top-notifications .link-text p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.top-notifications .line-rounded-arrow {
  position: relative;
  width: 20px;
  height: 20px;
}


.mess{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  font-size: xx-large;
  cursor: pointer;
}
.mess-table{
  border-radius: 16px;
  background: var(--neutral-white, #FFF);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  width: 383px;
  height: 421px;
  position: absolute;
  right: 32px;
  bottom: 71px;
  border: solid 1px black;
}
.left-side{
margin-right: 135px;
}
.mess-table-content-2{
  color: var(--system-black, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}
.mess-table-content-3{
  color: var(--system-black, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.mess-table-content-4{
  width: 335px;
  height: auto;
  background-color: #1877f2;
  color: white;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding:20px 0px;
  border-radius: 10px;
  cursor: pointer;
}
span{
  color: #333;
  cursor: pointer;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17.5px;
letter-spacing: -0.42px;
}
.mess-table-content-5{
  width: 335px;
  height: auto;
  background-color: white;
  color: black;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding:20px 0px;
  font-weight: bolder;
  cursor: pointer;
}
.mess-table-content-6{
  color: #7F7F7F;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px; /* 125% */
  letter-spacing: -0.42px;
}
.mess-table-content{
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}

#top-image {
  width: 100vw;
  height: 785px;
  background-image: url(../img/top-image.svg);
  position: absolute;
}

#top-image_text1 {
  color: #fff;
  position: absolute;
  top: 180px;
  left: 110px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  height: 132px;
  width: 600px;
}

#top-image_text2 {
  color: #fff;
  position: absolute;
  top: 350px;
  left: 110px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 574px;
}

#top-image_button1 {
  justify-content: center;
  width: 194px;
  height: 66px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background: #f6e1c3;
  color: #a84448;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  top: 470px;
  left: 110px;
}

#top-image_button2 {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 36.55px;
  border: 1.5px solid rgba(246, 225, 195, 1);
  box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
  width: 236px;
  height: 66px;
  justify-content: center;
  color: #f6e1c3;
  position: absolute;
  top: 470px;
  left: 328px;
}


.frame {
  position: relative;
  width: 100vw;
  height: 174px;
  background-color: #ebbb90;
  top: 785px;
}

.frame .frame-text {
  position: absolute;
  width: 1025px;
  height: 80px;
  top: 46px;
  left: 237px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #03003c;
  font-size: 56.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 72.2px;
  white-space: nowrap;
}

.room-list {
  position: absolute;
  top: 1239px;
  width: 100vw;
  height: 2800px;
  background-color: var(--neutralblack);
}

.living-room {
  position: relative;
  width: 100vw;
  height: 618px;
  top: 0;
  left: 0;
}

.living-room .living-room-new-wrapper {
  position: absolute;
  width: 1440px;
  height: 618px;
  top: 0;
  left: 0;
}

.living-room .living-room-img {
  position: absolute;
  width: 100vw;
  height: 618px;
  top: 0;
  left: 0;
}

.living-room .heading {
  position: relative;
  top: 344px;
  left: 110px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}

.living-room .text {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 425px;
  left: 110px;
  box-sizing: border-box;
}

.living-room .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.living-room .vuesax-twotone-arrow {
  position: relative;
  width: 24px;
  height: 24px;
}

.dining {
  width: 100vw;
  height: 752px;
  margin-top: 20px;
  background-image: url(../img/phong-an.png);
  background-size: cover;
  background-position: 50% 50%;
}

.dining .group {
  position: relative;
  width: 297px;
  height: 108px;
  top: 456px;
  left: 1105px;
}
.dining .heading {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}
.dining .text-wrapper {
  position: absolute;
  top: 79px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.dining .vuesax-twotone-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 82px;
  left: 228px;
}

.nha-bep {
  width: 100vw;
  height: 618px;
  margin-top: 20px;
  background-image: url(../img/nha-bep.png);
  background-size: cover;
  background-position: 50% 50%;
}

.nha-bep .group {
  position: relative;
  width: 297px;
  height: 108px;
  top: 344px;
  left: 110px;
}
.nha-bep .heading {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}
.nha-bep .text-wrapper {
  position: absolute;
  top: 79px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.nha-bep .vuesax-twotone-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 82px;
  left: 228px;
}

.bedroom {
  width: 100vw;
  height: 752px;
  margin-top: 20px;
  background-image: url(../img/bedroom.png );
  background-size: cover;
  background-position: 50% 50%;
}

.bedroom .group {
  position: relative;
  width: 297px;
  height: 108px;
  top: 456px;
  left: 1105px;
}
.bedroom .heading {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}
.bedroom .text-wrapper {
  position: absolute;
  top: 79px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.bedroom .vuesax-twotone-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 82px;
  left: 228px;
}

.footers {
  width: 100vw;
  height: 654px;
  background-color: rgba(246, 225, 195, 1);
  overflow: hidden;
  position: absolute;
  top: 4040px;
}

.footers .name {
  position: relative;
  width: 420px;
  height: 300px;
  top: 88px;
  left: 87px;
}

.footers .text {
  padding: 22.35px;
  position: absolute;
  top: 0;
  left: 0;
}

.footers .text-holder {
  width: fit-content;
  margin-top: -2.24px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(168, 68, 72, 1);
  font-size: 31.3px;
  text-align: center;
  letter-spacing: 1.03px;
  line-height: normal;
}

.footers .footer-description {
  position: absolute;
  width: 386px;
  top: 70px;
  left: 23px;
  font-family: "Montserrat", Helvetica;
  font-weight:400; 
  color: rgba(24, 22, 22, 1);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 30px;
  font-style: normal;
}

.footers .newsletter-input {
  position: absolute;
  width: 419px;
  height: 152px;
  top: 182px;
  left: 0;
}

.footers input {
  width: 419px;
  padding: 24px;
  border-radius: 50px;
  border: 0cap;
  margin-top: -1px;
  font-family:"Montserrat", Helvetica;
  font-size: 16px;
  cursor: pointer;
}

.footers .master-primary {
  padding: 20px 36px;
  position: absolute;
  top: 86px;
  left: 0;
  background-color:  rgba(168, 68, 72, 1);
  border-radius: 40px;
  margin-top: -1.33px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: none;
}

.master-primary p {
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
}

li,
ol,
ul {
  list-style: none;
  box-sizing: border-box;
}

div {
  display: block;
}

.footers .footers-menu {
  position: absolute;
  width: 508px;
  height: 400px;
  top: 0px;
  margin-left: 10px;
  left: 538px;
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.footers .footer-section {
  position: relative;
  width: 210px;
  height: 326px;
  top: 0;
  left: 0;
}

.footers .footer-title {
  position: absolute;
  top: 65px;
  left: 50px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color:  rgba(168, 68, 72, 1);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.footers .footer-list {
  top: 0;
  left: 0;
  padding: 20px 0 0 0;
  margin: 0;
}

.footers .footer-li {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--neutralblack);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.footer-li a{
  text-decoration: none;
  color: #000000;
}

.footers .footer-section-2 {
  width: 255px;
  height: 312px;
  left: 1031px;
  position: absolute;
  top: 35px;
}

.footer-section-2 .image-group {
  display: flex;
  gap: 12px;
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  left: 35px;
}

.footer-section-2 .image-placeholder {
  width: 120px;
  height: 120px;
  top: 130px;
  background-size: 100% 100%;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  z-index: 1;
  position: relative;
}

.footers .footer-bottom {
  position: absolute;
  width: 100vw;
  height: 68px;
  top: 554px;
  left: 110px;
}

.footers .social-media {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 25px;
  left: 976px;
}

.footers .social-media-icon {
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

.footer-bottom svg{
  z-index: 1;
}

.footers .facebook {
  position: absolute;
  margin-left: 13px;
  top: 9px;
}

.footers .twitter {
  position: absolute;
  top: 11px;
  margin-left: 11px;

  z-index: 1;
}

.footers .instagram {
  position: absolute;
  z-index: 1;
  margin-left: 11px;

  top: 9px;
}

.footers .linked-in {
  position: absolute;
  z-index: 1;
  margin-left: 11px;

  top: 9px;
}

.footers .you-tube {
  position: absolute;
  z-index: 1;
  margin-left: 11px;

  top: 11px;
}

.footers .copyright {
  position: absolute;
  top: 32px;
  left: 6px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color:  rgba(168, 68, 72, 1);
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 18px;
  white-space: nowrap;
  font-style:normal;
}

/* 
:root {
  --cream: rgba(246, 225, 195, 1);
  --neutralblack: rgba(24, 22, 22, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --brick: rgba(168, 68, 72, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --neutral-colorscolor-300: rgba(249, 249, 255, 1);
  --text: rgba(106, 106, 106, 1);
  --neutral-colorsheadings-black: rgba(93, 90, 136, 1);
  --neutral-colorstext-gray: rgba(151, 149, 181, 1);
  --text-font-family: "Montserrat", Helvetica;
  --text-font-weight: 400;
  --text-font-size: 12px;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
  --text-font-style: normal;
  --body-default-font-family: "Montserrat", Helvetica;
  --body-default-font-weight: 400;
  --body-default-font-size: 18px;
  --body-default-letter-spacing: 0px;
  --body-default-line-height: 30px;
  --body-default-font-style: normal;
  --text-single-100-regular-font-family: "Montserrat", Helvetica;
  --text-single-100-regular-font-weight: 400;
  --text-single-100-regular-font-size: 16px;
  --text-single-100-regular-letter-spacing: 0px;
  --text-single-100-regular-line-height: 18px;
  --text-single-100-regular-font-style: normal;
  --text-single-200-bold-font-family: "Montserrat", Helvetica;
  --text-single-200-bold-font-weight: 700;
  --text-single-200-bold-font-size: 18px;
  --text-single-200-bold-letter-spacing: 0px;
  --text-single-200-bold-line-height: 18px;
  --text-single-200-bold-font-style: normal;
  --text-single-200-regular-font-family: "Montserrat", Helvetica;
  --text-single-200-regular-font-weight: 400;
  --text-single-200-regular-font-size: 18px;
  --text-single-200-regular-letter-spacing: 0px;
  --text-single-200-regular-line-height: 18px;
  --text-single-200-regular-font-style: normal;
  --text-single-300-bold-font-family: "Montserrat", Helvetica;
  --text-single-300-bold-font-weight: 700;
  --text-single-300-bold-font-size: 20px;
  --text-single-300-bold-letter-spacing: 0px;
  --text-single-300-bold-line-height: 20px;
  --text-single-300-bold-font-style: normal;
}

:root {
  --neutralblack: rgba(24, 22, 22, 1);
  --brick: rgba(168, 68, 72, 1);
  --text-draft: rgba(106, 106, 106, 1);
  --cream: rgba(246, 225, 195, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --neutral-colorstext-gray: rgba(151, 149, 181, 1);
  --neutral-colorscolor-300: rgba(249, 249, 255, 1);
  --text-font-family: "Montserrat", Helvetica;
  --text-font-weight: 400;
  --text-font-size: 12px;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
  --text-font-style: normal;
  --text-single-100-regular-font-family: "Montserrat", Helvetica;
  --text-single-100-regular-font-weight: 400;
  --text-single-100-regular-font-size: 16px;
  --text-single-100-regular-letter-spacing: 0px;
  --text-single-100-regular-line-height: 18px;
  --text-single-100-regular-font-style: normal;
}

:root {
  --neutralwhite: rgba(255, 255, 255, 1);
  --text-font-weight: 400;
  --text-font-size: 12px;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
  --text-font-style: normal;
  --text-single-200-bold-font-family: "Montserrat", Helvetica;
  --text-single-200-bold-font-weight: 700;
  --text-single-200-bold-font-size: 18px;
  --text-single-200-bold-letter-spacing: 0px;
  --text-single-200-bold-line-height: 18px;
  --text-single-200-bold-font-style: normal;
} */
